data_general/
chrome_user_data/
chrome_user_data_grok/
downloads/
__pycache__/
build/
dist/
dist_obfuscated/
*.log
*.tmp
*.bak
*.pyc
pyarmor.bug.log
build_log.txt
dist_obfuscated/
.gemini/
.agent/
.agents/
.vs/
.idea/
.vscode/
Workflows/*/state.json
Workflows/*/Download/
Workflows/*/thumbnails/
Workflows/*/request.json
Workflows/*/respone_anh.json
Workflows/*/respone_video.json
